.md-container {
  * {
    font-size: 14px;
    line-height: 2;
  }
  h1 {
    font-size: 22px;
    font-weight: 800;
  }
  h2 {
    font-weight: 700;
    font-size: 18PX;
  }

  ul {
    list-style-type: disc;
    padding-left: 1rem;
  }

  a {
    text-decoration: underline;
  }
}
